<div class="rounded-md bg-white w-11/12 m-1 mt-10 shadow-lg shadow-gray-300">
    <div class="flex w-full">
        <img class="rounded-full mr-2 w-2/4 h-4/5 relative bottom-4 right-4 shadow-lg shadow-gray-400"
            [src]="character.thumbnail.path +  '/standard_amazing.' + character.thumbnail.extension" />
        <div class="w-2/4 mr-8 mt-4">
            <h1 class="title text-gray-600  ">{{character.name}}</h1>
            <p class="text-xs md:text-base">{{character.description.length == 0 ? 'description not available' :
                character.description}}</p>
            <button class="bg-red-600 p-2 px-4 text-white rounded shadow-red-700 shadow-md">VIEW MORE</button>
        </div>
    </div>
    <div class="w-full p-6 pt-6">
        <h1 class="text-2xl pb-2">Related comics</h1>
        <div class="grid grid-cols-2 gap-6" *ngIf="character.comics.items.length > 0">
            <h2 class="h-12 text-sm comic-name flex " *ngFor='let comic of character.comics.items.slice(0,4)'>
                {{comic.name}}
            </h2>
        </div>
        <h2 class="h-12 text-center" *ngIf="character.comics.items.length == 0">Not comics related found</h2>
    </div>
</div>