@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body { height: 100%; background: #f4f4f4; }
body { margin: 0; font-family: 'Akshar', sans-serif; font-weight: 500; }
h1, h2, button {
    font-family: 'Koulen', cursive;
}

h1,h2,p {
    margin-bottom: 0.75rem;
}

.mat-dialog-container {
    background: white !important;
    padding: 0px !important;
    border-radius: 20px;
}

.cdk-overlay-pane {
    width: 80vw !important;
}
